:root {
  --background-color: #333333;
  --first-bg-grid: #794f45;
  --second-bg-grid: #77608d;
  --font-color: #f0f0f0;
  --border-color: rgba(240, 240, 240, 0.2);
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.title {
  text-transform: uppercase;
}

.section {
  padding: 20px;
}

.grid {
  display: grid;
  font-size: 30px;
  padding: 20px;
  background-color: var(--first-bg-grid);
  margin: 0 0 20px;
}

.grid-inline {
  display: inline-grid;
  font-size: 30px;
  padding: 20px;
  background-color: var(--second-bg-grid);
}

.grid-body-fr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-body-repeat-fr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-body-fix-fix-fr {
  display: grid;
  grid-template-columns: 200px 150px 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-body-fr-2fr-fr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-body-percent {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 1fr 1fr;
}

.grid-body-minmax {
  display: grid;
  grid-template-columns: 150px minmax(150px, 1fr) 150px;
  grid-template-rows: 1fr 1fr;
}

.grid-body-auto-content {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-body-fit-content {
  display: grid;
  grid-template-columns: fit-content(300px) 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-body-template {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.grid-body-implicit {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-auto-columns: 100px;
}

.grid-body-auto-flow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.grid-body-auto-flow-column {
  grid-auto-flow: column;
}

.grid-body-auto-flow-dense {
  grid-auto-flow: dense;
}

.grid-item {
  text-align: center;
  border: dashed 1px var(--border-color);
  padding: 30px;
  font-weight: 600;
}

/* Region names */

.grid-named-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "side content";
  gap: 10px;
}

.grid-named-template {
  display: grid;
  grid-template:
    [start] "header header" 100px [row2]
    [row2] "side content" 1fr [row-end] / 150px 1fr;
  gap: 10px;
}

.grid-header,
.grid-side,
.grid-content {
  text-align: center;
  border: dashed 1px var(--border-color);
  padding: 30px;
}
.grid-header {
  grid-area: header;
}

.grid-side {
  grid-area: side;
}

.grid-content {
  grid-area: content;
}

.grid-item-span {
  text-align: center;
  border: dashed 1px var(--border-color);
  padding: 30px;
  margin: 30px;
}

.grid-item-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--first-bg-grid);
}

.grid-item-2 {
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: var(--first-bg-grid);
}

.grid-item-3 {
  grid-row-start: span 2;
  grid-column-start: span 3;
  background-color: var(--first-bg-grid);
}

.grid-body-colrownamed {
  display: grid;
  grid-template-rows: [start] 1fr [row2] 1fr [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
}

.grid-item-4 {
  grid-row-start: row2;
  grid-column-start: col3;
  background-color: var(--first-bg-grid);
}

.grid-item-5 {
  grid-row: 1/3;
  grid-column: 1/3;
  background-color: var(--first-bg-grid);
}

.grid-item-6 {
  grid-row: start / row-end;
  grid-column: col2 / col3;
  background-color: var(--first-bg-grid);
}

.item-order-1 {
  order: 2;
  background-color: var(--first-bg-grid);
}

.item-order-2 {
  order: 1;
}

.item-order-3 {
  order: 3;
}

.item-order-4 {
  order: 4;
}

.item-order-5 {
  order: 5;
}

.item-order-6 {
  order: 6;
}

.grid-body-align {
  display: grid;
  grid-template-rows: [start] 150px [row2] 150px [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
  justify-items: start;
  align-items: start;
}

.item-align-1 {
  align-self: stretch;
  justify-self: stretch;
}

.item-align-2 {
  align-self: start;
  justify-self: end;
}

.item-align-3 {
  align-self: center;
  justify-self: center;
}

.grid-body-with-gap {
  display: grid;
  grid-template-rows: [start] 150px [row2] 150px [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
  row-gap: 20px;
  column-gap: 40px;
}
