:root {
  --background-color: #202020;
  --first-bg-grid: #794f45;
  --second-bg-grid: #77608d;
  --font-color: #f0f0f0;
  --border-color: rgba(240, 240, 240, 0.2);
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.title {
  text-transform: uppercase;
}

.section {
  padding: 20px;
}

.grid {
  display: grid;
  font-size: 30px;
  padding: 20px;
  background-color: var(--first-bg-grid);
  margin: 0 0 20px;
}

.grid-inline {
  display: inline-grid;
  font-size: 30px;
  padding: 20px;
  background-color: var(--second-bg-grid);
}

.grid-body {
  display: grid;
  /* display: inline-grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (2, 1fr);
}

.grid-item {
  text-align: center;
  border: dashed 1px var(--border-color);
  padding: 30px;
  font-weight: 600;
}
